################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AlgoTraining/bin/Debug/net8.0
/.vs/AlgoTraining
